.App {
	text-align: center;
	background-color: #f8f9fa;
}

.figure-container {
	cursor: pointer;
	position: relative;

	transition: all 0.3s ease-in-out;
}

.figure-actions {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 20px;
    left: 0;
	visibility: hidden;
	opacity: 0;

	transition: all 0.3s ease-in-out;
}

.figure-container:not(.selector):hover .figure-actions {
	visibility: visible;
	opacity: 1;
}

.figure-container.selector {
	cursor: pointer;
	opacity: 0.4;
}

.figure-container.selector:hover {
	opacity: 0.8;
}

.figure-container.selector.selected {
	opacity: 1;
}

.figure {
	width: 100px;
}